.input-container {
    display: inline-flex;

    background-color: #F4F4F4;
    border-radius: 10px;

    padding: 0 10px;

    .image {
        margin: 10px 5px;
    }

    .input {
        margin-left: 5px;
        font-weight: 400;
        color: #313131;

        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        outline: none;
        border: none;
    }
}