.main-container { 
    display: flex;
    height: 100%;

    .sidebar {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 80px;

        padding: 15px;
        margin-right: 15px;

        background-color: #FFF;
        border-radius: 1rem;

        cursor: pointer;

        .image-container {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 45px;
            height: 45px;

            margin-bottom: 10px;

            border-radius: 10px;
        }

        .route-active {

            background-color: #246DFF;

            img {
                fill: #FFF;
            }
        }
    }
}