@import "tailwindcss";

:root {
  --background: #F1F2F4;
  --foreground: #000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
  --background: #F1F2F4;
  --foreground: #000;
  }
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

  width: 100vw;
  height: 100vh;
}

.button-text-medium {
  color: black;
  font-weight: 600;
  size: 15px;
}